* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(246, 247, 248);
  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-columns: 232px auto;
  grid-template-areas:
    "header header"
    "content content"
    "menu menu";
  height: 100vh;
}


* {
  --sb-track-color: transparent;
  --sb-thumb-color: #a8a8a8;
  --sb-size: 4px;
}

*::-webkit-scrollbar {
  width: var(--sb-size)
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.contentSection {
  grid-area: content;
  overflow: auto;
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}


/*ANCHOR Media Query
X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  body {
    grid-template-areas:
      "menu header"
      "menu content"
      "menu content";
  }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}