.addTaskHeaderSection {
  font-size: 48px;
  font-weight: 700;
  line-height: 56.4px;
  padding: 48px 0px 32px 16px;
}

.addTaskModalClose {
  display: none;
}

.addTaskSection {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 0px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.inputContainerTop {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputContainerBottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.singleInputContainer,
.subtasksInputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 396px;
}

.descriptionInput {
  height: 88px;
  display: flex;
  justify-content: flex-start;
}



/* .subtasksInputContainer {
  position: relative;
  display: inline-block;
  max-width: 396px;
} */

input[type="text"] {
  padding-right: 40px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}

.svg-container {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  gap: 5px;
}

.hidden {
  display: none;
}

.focus-svg {
  display: none;
}

input[type="text"]:focus ~ .svg-container .initial-svg {
  display: none;
}

input[type="text"]:focus ~ .svg-container .focus-svg {
  display: block;
}



.addTaskForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input,
textarea {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 10px 20px 10px 20px;
  outline: none;
}

textarea {
  height: 88px;
  resize: none;
}

input:focus,
textarea:focus {
  border: 1px solid #29abe2;
}

input[type="date"]:invalid::-webkit-datetime-edit {
  color: #d1d1d1;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
}

::placeholder {
  color: #d1d1d1;
  font-family: "Inter";
}

input:focus {
  outline: none;
}

.redStarAfter:after,
.redStarBefore:before {
  content: "*";
  color: red;
}

.addTaskPrioContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.prioBtnContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  max-width: 396px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.prioBtnUrgent,
.prioBtnMedium,
.prioBtnLow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  gap: 8px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.prioBtnContainer > div:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.priourgentsmallWhite,
.priomediumsmallWhite,
.priolowsmallWhite {
  display: none;
}

.prioBtnUrgentActive,
.prioBtnMediumActive,
.prioBtnLowActive {
  color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.prioBtnUrgentActive {
  background-color: #ff3d00;
}

.prioBtnMediumActive {
  background-color: #ffa800;
}

.prioBtnLowActive {
  background-color: #7ae229;
}

.prioBtnUrgentActive .priourgentsmall,
.prioBtnMediumActive .priomediumsmall,
.prioBtnLowActive .priolowsmall {
  display: none;
}

.prioBtnUrgentActive .priourgentsmallWhite,
.prioBtnMediumActive .priomediumsmallWhite,
.prioBtnLowActive .priolowsmallWhite {
  display: block;
}

.bottomContainer {
  display: flex;
  position: sticky;
  bottom: 0px;
  padding: 16px 0px;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f7f8;
}

.btnContainer {
  display: flex;
  gap: 16px;
}

.clearBtn,
.bottomContainerText {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.clearBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2a3647;
  border-radius: 10px;
  height: 56px;
  width: 110px;
  background-color: #f6f7f8;
  gap: 4px;
  cursor: pointer;
}

.clearBtn:hover {
  border-color: #29abe2;
  color: #29abe2;
}

.clearFormIconBlue {
  display: none;
}

.clearBtn:hover .clearFormIcon {
  display: none;
}

.clearBtn:hover .clearFormIconBlue {
  display: block;
}

.createTaskBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a3647;
  border-radius: 10px;
  border: 0;
  padding: 16px;
  gap: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.createTaskBtn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.seperatorLine {
  width: 2px;
  height: 424px;
  background-color: #d1d1d1;
}

@media (max-width: 374px) {
  .createTaskBtn {
    font-size: 16px;
    padding: 8px;
  }

  .createTaskBtn img {
    display: none;
  }

  .addTaskSection {
    padding: 0px 8px 0px 8px;
  }

  .prioBtnUrgent,
  .prioBtnMedium,
  .prioBtnLow {
    gap: 4px;
  }
}

@media (min-width: 429px) {
  .addTaskSection {
    align-items: center;
  }

  .addTaskHeaderSection {
    display: flex;
    justify-content: center;
    padding: 48px 0px 32px 0px;
  }
}

@media (min-width: 992px) {
  .addTaskHeaderSection {
    font-size: 60px;
    line-height: 73.2px;
  }
}

@media (max-width: 1199px) {
  .clearBtn,
  .seperatorLine {
    display: none;
  }
}

@media (min-width: 1200px) {
  .addTaskSection {
    padding: 0px;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
  }

  .inputContainerBottom,
  .inputContainerTop {
    width: 440px;
  }

  .singleInputContainer,
  .subtasksInputContainer {
    max-width: 440px;
  }

  .addTaskHeaderSection {
    margin: 48px 0px 32px 24px;
  }

  .addTaskForm {
    flex-direction: row;
    gap: 24px;
  }

  .prioBtnContainer {
    max-width: 440px;
  }

  .prioBtnUrgent,
  .prioBtnMedium,
  .prioBtnLow {
    height: 56px;
    width: 136px;
  }

  input {
    height: 48px;
  }

  input,
  textarea,
  .prioBtnContainer,
  ::placeholder {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }

  .bottomContainer {
    display: flex;
    position: fixed;
    padding: 0px 0px 96px 0px;
    width: 930px;
  }
}

@media (min-width: 1440px) {
  .addTaskSection {
    align-items: flex-start;
  }

  .addTaskHeaderSection {
    justify-content: flex-start;
    margin: 48px 0px 32px 96px;
  }

  .addTaskForm {
    justify-content: flex-start;
    padding-left: 96px;
    gap: 48px;
  }

  .bottomContainer {
    width: 978px;
  }
}
