.addTaskHeaderSection {
  font-size: 48px;
  font-weight: 700;
  line-height: 56.4px;
  padding: 48px 0px 32px 16px;
}

.addTaskSection {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 0px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.inputContainerTop {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputContainerBottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.singleInputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 396px;
}

.descriptionInput {
  height: 88px;
  display: flex;
  justify-content: flex-start;
}

.addTaskForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input,
textarea {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 10px 20px 10px 20px;
}

textarea {
  height: 88px;
  resize: none;
}

input[type="date"]:invalid::-webkit-datetime-edit {
  color: #d1d1d1;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
}

::placeholder {
  color: #d1d1d1;
  font-family: "Inter";
}

input:focus {
  outline: none;
}

.redStarAfter:after,
.redStarBefore:before {
  content: "*";
  color: red;
}

.addTaskPrioContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.prioBtnContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  max-width: 396px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.prioBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  gap: 8px;
  background-color: white;
  border-radius: 10px;
}

.bottomContainer {
  display: flex;
  position: sticky;
  bottom: 0px;
  padding: 16px 0px;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f7f8;
}

.bottomContainerText {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.createTaskBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a3647;
  border-radius: 10px;
  border: 0;
  padding: 16px;
  gap: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  color: white;
  cursor: pointer;
}

.seperatorLine {
  width: 2px;
  height: 424px;
  background-color: #d1d1d1;
}



@media (max-width: 374px) {
  .createTaskBtn {
    font-size: 16px;
    padding: 8px;
  }

  .createTaskBtn img {
    display: none;
  }

  .addTaskSection {
    padding: 0px 8px 0px 8px;
  }

  .prioBtn {
    gap: 4px;
  }
}

@media (min-width: 429px) {
  .addTaskSection {
    align-items: center;
  }

  .addTaskHeaderSection {
    display: flex;
    justify-content: center;
    padding: 48px 0px 32px 0px;
  }
}

@media (min-width: 992px) {
  .addTaskHeaderSection {
    font-size: 60px;
    line-height: 73.2px;
  }
}

@media (max-width: 1439px) {
  .seperatorLine {
    display: none;
  }
}

@media (min-width: 1440px) {
  .addTaskSection {
    padding: 0px;
    align-items: flex-start;
    font-size: 20px;
    line-height: 24px;
  }

  .inputContainerBottom,
  .inputContainerTop {
    width: 440px;
  }

  .singleInputContainer {
    max-width: 440px;
  }

  .addTaskHeaderSection {
    justify-content: flex-start;
    margin: 48px 0px 32px 96px;
  }

  .addTaskForm {
    flex-direction: row;
    gap: 48px;
    padding-left: 96px;
  }

  .prioBtnContainer {
    max-width: 440px;
  }

  .prioBtn {
    height: 56px;
    width: 136px;
  }

  input {
    height: 48px;
  }

  input,
  textarea,
  .prioBtnContainer,
  ::placeholder {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }

  .bottomContainer {
    display: flex;
    position: fixed;
    padding: 0px 0px 96px 0px;
    width: 978px;
  }
}




/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

select {
  width: 396px;
}

/* .custom-select select {
  display: none;
} /*hide original SELECT element: */

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


