.boardContent {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1208px;
}

.boardHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 32px;
}

.headerPlusBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.4px;
}

.boardSearchBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.boardSearchField {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  max-width: 396px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  padding: 8px 16px 8px 16px;
  gap: 10px;
}

.boardInputField {
  border: 0;
  width: 90%;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.boardInputField::placeholder {
  color: #d1d1d1;
}

input:focus {
  outline: none;
}

.boardSearchFieldIcons {
  display: flex;
  gap: 16px;
}

.boardAddTaskBtnMobile {
  cursor: pointer;
}

.boardAddTaskBtnDesktop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  gap: 4px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  background-color: #2a3647;
  cursor: pointer;
}

.boardAddTaskBtnDesktopText {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  cursor: pointer;
}

.boardTaskSection {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-bottom: 40px;
}

.boardTaskCategoryContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.boardTaskCategoryHeader {
  max-width: 396px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 27px;
  font-weight: 700;
  line-height: 32.4px;
  color: #2a3647;
}

.boardTaskCategoryIcon {
  cursor: pointer;
}

.taskDragArea {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  overflow-y: hidden;
}

.noTaskPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 252px;
  height: 48px;
  background-color: #e7e7e7;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  padding: 16px;
  gap: 10px;
  width: 252px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  padding: 8px;
  margin: 8px;
}

.toDoContent {
  display: flex;
  flex-direction: column;
  width: 220px;
  gap: 20px;
}

.userStoryBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0038ff;
  color: white;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  border-radius: 8px;
  padding: 4px 16px 4px 16px;
  display: flex;
  width: 113px;
}

.technicalTaskBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1fd7c1;
  color: white;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  border-radius: 8px;
  padding: 4px 16px 4px 16px;
  display: flex;
  width: 144px;
}

.toDoContentBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignedToBadgeContainer {
  display: flex;
}

.assignedToBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  border: 1px solid white;
  margin-left: -8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.assignedToBadge:first-child {
  margin-left: 0px;
}

.tilted {
  transform: rotate(5deg);
  transition: transform 0.1s ease;
}


/* Media Queries */
@media (min-width: 576px) {
}

@media (max-width: 765px) {
}

@media (min-width: 768px) {
}

@media (max-width: 991px) {
  .boardAddTaskBtnDesktop {
    display: none;
  }
}

@media (min-width: 992px) {
  .boardHeaderContainer {
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 40px;
  }

  .boardAddTaskBtnMobile {
    display: none;
  }

  .boardSearchField {
    max-width: 312px;
  }

  .headerPlusBtn {
    font-size: 60px;
    line-height: 73.2px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
  .boardContent {
    padding: 0px 64px;
  }

  .boardTaskSection {
    flex-direction: row;
    padding-bottom: 64px;
  }

  .taskDragArea {
    width: 100%;
    height: 100%;
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    overflow-y: hidden;
  }

  .boardTaskCategoryContainer {
    width: 256px;
    align-items: center;
  }

  .boardTaskCategoryHeader {
    width: 244px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #42526e;
  }

  .boardTaskCategoryIcon {
    height: 24px;
    width: 24px;
    color: #2a3647;
  }
}
