#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  animation: slideIn 100ms ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.modalContainer {
  display: flex;
  flex-direction: column;
  max-height: 724px;
  width: 396px;
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  padding: 32px 24px;
  gap: 16px;
  word-wrap: break-word;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
}

.modalCategoryContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.modalUserStoryBadge,
.modalTechnicalTaskBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 4px 16px 4px 16px;
  color: white;
}

.modalUserStoryBadge {
  background-color: #0038ff;
  width: 113px;
}

.modalTechnicalTaskBadge {
  background-color: #1fd7c1;
  width: 144px;
}

.modalScrollbarWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 16px;
  flex: 1;
  padding: 0 1px;
  --sb-track-color: transparent !important;
  --sb-thumb-color: transparent !important;
  --sb-size: 2px !important;
  scrollbar-width: var(--sb-size) !important;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color) !important;
}

.modalCloseIcon {
  cursor: pointer;
}

.modalToDoContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  overflow: hidden;
}

.modalHeader {
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 700;
  top: 40px;
  background-color: white;
}

.modalDateContainer,
.modalPrioContainer {
  display: flex;
  gap: 24px;
}

.modalDateText,
.modalPrioText,
.modalAssignedToText,
.modalSubtasksText {
  color: #42526e;
  font-weight: 700;
  width: 104px;
}

.modalPrioIconContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modalAssignedToContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modalAssignedToSingle {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
}

.modalAssignedToBadge {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4;
}

.modalSubtasksContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.modalSubtasksSingle {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 6px 16px;
}

.modalBottomContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.modalBottomDeleteContainer,
.modalBottomEditContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.modalBottomSeparator {
  width: 1px;
  height: 24px;
  background-color: #d1d1d1;
}

@media (max-width: 427px) {
  .modalContainer {
    max-height: 480px;
    width: 300px;
    border-radius: 12px;
    padding: 8px 8px;
  }

  .modalHeader {
    font-size: 28px;
    font-weight: 700;
    line-height: 32.4px;
  }

  .modalDescription {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
  }

  .modalAssignedToSingle {
    gap: 8px;
    padding: 4px 8px;
  }

  .modalAssignedToBadge {
    width: 24px;
    height: 24px;
  }

  .modalSubtasksContainer {
    gap: 4px;
    margin-top: 4px;
  }

  .modalSubtasksSingle {
    gap: 8px;
    padding: 4px 8px;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .modalContainer {
    max-height: 932px;
    width: 525px;
    padding: 48px 40px;
    gap: 24px;
    font-size: 20px;
    line-height: 24px;
  }

  .modalUserStoryBadge {
    width: 164px;
    height: 36px;
  }

  .modalTechnicalTaskBadge {
    width: 208px;
    height: 36px;
  }

  .modalScrollbarWrapper,
  .modalToDoContent {
    gap: 24px;
  }

  .modalHeader {
    font-size: 60px;
    line-height: 73.2px;
  }

  .modalDateText,
  .modalPrioText,
  .modalAssignedToText {
    width: 128px;
  }

  .modalSubtasksContainer,
  .modalBottomContainer {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
