body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-height: 1024px;
}

.content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 100px;
  height: 121px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: logoMove 3s forwards;
}

#logo {
  width: 100px;
  height: 121px;
  position: absolute;
  top: 80px;
  left: 77px;
}

@keyframes logoMove {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 274px;
    height: 334px;
  }

  30% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 274px;
    height: 334px;
  }

  100% {
    top: 80px;
    left: 77px;
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#login-form-container {
  opacity: 0;
  animation: fadeIn 3s forwards 0.5s;
  width: 396px;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  gap: 32px;
  padding: 32px;
  align-items: center;
}

header {
  align-self: flex-end;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin-top: 80px;
}

.headline {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56.4px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.underline {
  width: 88px;
  height: 3px;
  border-radius: 3px;
  background-color: #29abe2;
}

.login-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#error-message {
  font-size: 12px;
}

label.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.login-field input {
  height: 48px;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  padding-left: 12px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
}

.login-field input:focus {
  border: 1px solid #29abe2;
}

#passwordInput {
  background-image: url(../assets/icons/password_input.png);
}

#passwordInput:focus {
  background-image: url(../assets/icons/password_off.png);
}

#emailInput {
  background-image: url(../assets/icons/mail.svg);
}

.button-section-for-entry {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-signup-button,
.guest-login-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px 0px;
  width: 180px;
  height: 48px;
}

.login-signup-button,
.signup-button {
  background-color: #2a3647;
  color: white;
  border: none;
}

.guest-login-button {
  background-color: transparent;
  border: 1px solid #2a3647;
}

.guest-login-button:hover,
.login-signup-button:hover,
.signup-button:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: all 0.3s ease;
}

.guest-login-button:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
}

.login-signup-button:hover,
.signup-button:hover {
  background-color: #29abe2;
}

.signup-section-lowside {
  display: flex;
  opacity: 0;
  animation: fadeIn 3s forwards 0.5s;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.signup-button {
  border-radius: 8px;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 700;
  width: 104px;
  height: 48px;
  cursor: pointer;
}

.signup-section-upside {
  /* position: fixed;
  top: 64px;
  right: 120px; */
  display: flex;
  align-items: center;
  gap: 36px;
  margin-right: 80px;
  justify-content: flex-end;
  opacity: 0;
  animation: fadeIn 3s forwards 0.5s;
}

footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #a8a8a8;
  opacity: 0;
  animation: fadeIn 3s forwards 0.5s;
}

footer a {
  text-decoration: none;
  color: #a8a8a8;
}

footer a:hover {
  color: #29abe2;
}

@media (max-width: 427px) {
  main {
    gap: 24px;
  }

  #login-form-container {
    width: 300px;
  }

  .form-container {
    gap: 16px;
    padding: 16px;
  }

  .headline {
    gap: 8px;
  }

  .login-field {
    gap: 16px;
  }

  .button-section-for-entry {
    gap: 8px;
  }

  .login-signup-button,
  .guest-login-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    border-radius: 8px;
    cursor: pointer;
    padding: 4px 0px;
    width: 140px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .signup-section-upside {
    display: none;
  }

  #logo {
    position: absolute;
    width: 64px;
    height: 78px;
    top: 37px;
    left: 38px;
  }

  /* @keyframes logoMove {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 274px;
      height: 334px;
    }

    100% {
      top: 37px;
      left: 38px;
      transform: translate(0, 0);
    }
  } */
}

@media (min-width: 769px) {
  /* .content {
    align-items: unset;
  } */

  .signup-section-lowside {
    display: none;
  }

  .underline {
    width: 150px;
    height: 3px;
  }

  #login-form-container {
    width: 652px;
    height: 515px;
  }

  .form-container {
    padding: 48px 116px;
  }

  .button-section-for-entry {
    flex-direction: row;
    gap: 36px;
  }

  .login-signup-button {
    width: 110px;
  }
}

@media (min-width: 1440px) {
  /* body {
    width: 1440px;
  } */
}






@media (max-width: 450px) {
  /* .form-container {
    width: 280px;
  }



  footer {
    gap: 16px;
  }

  label span {
    font-size: 15px;
  } */
}

@media (max-height: 740px) {
  /* #logo {
    width: 44px;
    height: 58px;
  }

  .form-container {
    margin-top: 80px;
  }

  footer {
    bottom: 10px;
  }

 */
}

/* .signup-section-lowside {
    display: block; */
*/
    /* display: flex;
    justify-content: center;
    align-items: center;
  }


  /* #error-message {
    font-size: 12px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  } */




  /* .maincontainer-inputfield {
    width: 100%;
    height: 152px;
    margin-top: 0;
  }

  .login-field input {
    width: calc(100% - 32px);
    box-sizing: border-box;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
  } */



  /* .login-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0px;
  }

  label {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  label input {
    margin-left: 32px;
  }



  .button-section-for-entry {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 21px;
  }

  .login-signup-button {
    width: 180px;
    height: 51px;
  }

  .guest-login-button {
    width: 180px;
    height: 51px;
  }



  .signup-button {
    width: 104px;
    height: 49px;
    margin-left: 0px;
  }

  #emailInput {
    margin-bottom: 32px;
  } */





@media (max-height: 810px) {
  /* #logo {
    width: 54px;
    height: 68px;
  } */

  /* #error-message {
    margin-top: 0px;
    margin-bottom: 0px;
  } */

  /* .form-container {
    margin-top: 100px;
  }



  .headline h1 {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .underline {
    margin-bottom: 10px;
  }

  .form-container {
    height: 470px;
  }



  label {
    margin-top: 25px;
  }

  .button-section-for-entry {
    margin-top: 20px;
  } */

  /* @keyframes logoMove {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 274px;
      height: 334px;
    }

    100% {
      top: 10px;
      left: 10px;
      transform: translate(0, 0);
    }
  } */
}

@media (max-height: 900px) {
  /* #error-message {
    font-size: 10px;
    margin-left: 0px;
  } */

  /* 

  .form-container {
    margin-top: 130px;
  }

 */

  /*   */

  /* #logo {
  width: 54px;
  height: 68px;
}

  @keyframes logoMove {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 274px;
      height: 334px;
    }

    100% {
      top: 30px;
      left: 30px;
      transform: translate(0, 0);
    }
  } */
}
