main.content {
    display: flex;
    
}



.summ.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh; 
}


.headline-summ{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 330px;
    margin-bottom: 55px;
    margin-top: 110px;
}

.headline-summ-h2{
    color: #000000;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    text-align: left;
    margin-block-start: 0em;
    margin-block-end: 0em;
    white-space: nowrap;
    
}

.summ-seperate{
    width: 0px;
    height: 60px;
    border: 3px solid #29ABE2;
}

.summ-info{
    color: #2A3647;
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    white-space: nowrap;
}

.summ-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.summ-seperate-mobile{
    width: 90px;
    gap: 0px;
    border: 3px ;
    border: 3px solid #29ABE2;
    display: none;
    
}

.summ-stats{
    width: 100%;
    max-width: 560px;
    height: 562px;
    margin-left: 328px;
    box-sizing: border-box;
}

.summ-toDO-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    width: 264px;
    height: 168px;
    transition: transform 200ms ease-in-out;
    padding: 38px 19px;
    box-sizing: border-box;
}

.summ-pencil-unvisible{
    display: block;
}

.summ-toDO-info:hover{
    cursor: pointer;
    background-color: #2A3647;
    color: #FFFFFF;
    transform: scale(1.03);
}

.how-many-done{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.summ-toDO-info .summ-pencil-toDO{
    display: block;

}

.summ-toDO-info .summ-pencil-unvisible{
    display: none;
}

.summ-toDO-info:hover .summ-pencil-toDO{
    display: none;
}

.summ-toDO-info:hover .summ-pencil-unvisible{
    display: block;
}

.summ-done-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    width: 264px;
    height: 168px;
    transition: transform 200ms ease-in-out;
}

.summ-toDO-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    width: 264px;
    height: 168px;
    transition: transform 200ms ease-in-out;
    padding: 38px 19px;
    box-sizing: border-box;
}

.summ-done-info:hover{
    cursor: pointer;
    background-color: #2A3647;
    color: #FFFFFF;
    transform: scale(1.03);
}

.summ-done-info .summ-todo-cheking{
    display: block;
}

.summ-done-info .summ-todo-hover-cheking{
    display: none;
}

.summ-done-info:hover .summ-todo-cheking{
    display: none;
}

.summ-done-info:hover .summ-todo-hover-cheking{
    display: block;
}

.summ-open-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-many-dones{
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: center;
}

.how-many-done{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.summ-stats-urgent{
    background-color: #FFFFFF;
    width: 100%;
    height: 168px;
    gap: 61px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 61px;
    margin-top: 28px;
    margin-bottom: 28px;
    transition: transform 200ms ease-in-out;
    padding-top: 28px;
    padding-right: 48px;
    padding-bottom: 28px;
    padding-left: 48px;
    box-sizing: border-box;
}

.summ-stats-urgent:hover,
.summ-stats-urgent:hover .summ-urgent-date,
.summ-stats-urgent:hover .summ-urgent-date-deadline,
.summ-stats-urgent:hover #howManyUrgent,
.summ-stats-urgent:hover .how-many-todos{
    cursor: pointer;
    background-color: #2A3647;
    color: #FFFFFF;
    transform: scale(1.03);
}

.summ-stats-urgent:hover #howManyUrgent {
    color: #FFFFFF;
}

.summ-info-urgent{
    display: flex;
    align-items: center;
    width: 130px;
    height: 96px;
    gap: 18px;
}

.summ-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summ-urgent-seperate{
    margin-left: 20px;
    height: 60px;
    border: 1px solid #29abe2;
    
}

.summ-urgent-date-container{
    display: flex;
    flex-direction: column;
}

.summ-urgent-date{
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: #2A3647;
}

.summ-urgent-date-deadline{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #2A3647;
}

.summ-stats-under{
    display: flex;
    text-align: center;
    justify-content: space-between
}

.summ-stats-under-container{
    padding: 25px;
    box-sizing: border-box;
    width: 168px;
    height: 168px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 100ms ease-in-out;
}

.summ-stats-under-container:hover,
.summ-stats-under-container:hover .summ-stats-under-tasks{
    cursor: pointer;
    background-color: #2A3647;
    color: #FFFFFF;
    transform: scale(1.05);
}

.summ-stats-under-howmany{
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: center;
}

.summ-stats-under-tasks{
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    color: #2A3647;
}

.summ-greeting{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting-container {
    position: absolute; 
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 10;
    
}

.summ-greeting-mobile{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    left: 500px;
    margin-left: 100px;
    width: 100%;
    height: calc(100vh - 178px);
    z-index: 1000;
}


.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out; 
}

#greetingSummaryMobile.hide {
  
    opacity: 0;
}

#greetingSummaryMobile{
    display: flex;
    opacity: 1;
    transition: opacity 1s ease-in-out;  

}

.summ-day-greeting{
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: right;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0;
}

.summ-person-greeting{
    font-size: 64px;
    font-weight: 700;
    margin-right: 10px;
    text-align: right;
    color: #29ABE2;
}

@media(max-width:1300px){
    .summ-person-greeting{
        font-size: 50px;
    }
}

@media (max-width: 1300px){
    .headline-summ{
        margin-left: 275px;
    }

    .summ-stats{
        margin-left: 275px;
    }

    .summ-greeting{
        margin-left: 55px;
    }
}

@media (max-width: 1200px){
    #greetingSummaryMobile{
        display: block;
    }

    .headline-summ{
        margin-left: 328px;
    }

    .summ-stats{
        margin-left: 328px;
    }

    .summ-greeting{
        display: none;

    }
}

@media (max-width: 960px){
    .headline-summ{
        margin-left: 275px;
    }

    .summ-stats{
        margin-left: 275px;
        
    }
}

@media (max-width: 900px){
    .headline-summ{
        gap: 15px;
    }
}

@media (max-width: 900px){
    .summ-main{
        justify-content: center;

    }

    .headline-summ{
        display: flex;
        justify-content: center;
        margin-left: 20px;        
        margin-right: 20px;
        margin-top: 35px;  
    }

    .headline-summ-h2{
        font-size: 60px;
    }

    .summ-2{
        align-items: flex-start;
    }

    .summ-stats{
        margin-left: 20px;
        margin-right: 20px;
    }

    .summ-greeting-mobile{
        margin-left: 0px;
    }
}

@media (max-width: 630px){
    .summ-stats-under-container{
        width: 150px;
    }

    .summ-toDO-info{
        width: 230px;
    }

    .summ-done-info{
        width: 230px;
    }

    .summ-seperate{
        display: none;
    }

    .headline-summ{
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 25px;
    }

    .summ-stats{
        margin-left: 0px;
        margin-right: 0px;
    }

    .summ-seperate-mobile{
        display: block;
    }
}

@media (max-width: 600px){
    .headline-summ-h2{
        font-size: 40px
    }

    .summ-info{
        font-size: 20px;
    }

    .summ-stats{
        max-width: 400px;
    }

    .summ-toDO-info{
        width: 180px;
        height: 128px;
        padding: 28px 9px;
    }

    .summ-done-info{
        width: 180px;
        height: 128px;
    }

    .summ-stats-urgent{
        height: 128px;
        padding-right: 10px;
        padding-left: 10px;
        justify-content: center;
    }

    .summ-stats-under-tasks{
        font-size: 18px;
        line-height: 17px;
    }

    .summ-stats-under-container{
        width: 120px;
        height: 128px;
        padding: 20px;
    }

    .summ-stats-under-howmany{
        line-height: 60px;
        font-size: 50px;
    }

    .how-many-dones{
        font-size: 50px;
    }

    .summ-stats img{
        width: 50px;
        height: 50px;
    }

    .summ-urgent-date{
        font-size: 14px;
    }

    .summ-urgent-date-deadline{
        font-size: 12px;
    }
}

@media (max-width: 480px){
    .summ-seperate{
        display: none;
    }

    .headline-summ{
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .summ-seperate-mobile{
        display: block;
    }
}

@media (max-width: 440px){
    .summ-person-greeting{
        font-size: 40px;
        white-space: nowrap;
    }

    .headline-summ{
        margin-top: 20px;
    }

    .summ-stats{
        max-width: 320px;
    }

    .how-many-dones{
        font-size: 30px;
        line-height: 40px;
    }

    .summ-stats-under-howmany{
        font-size: 30px;
        line-height: 40px;
    }

    .how-many-todos{
        font-size: 30px;
        line-height: 40px;
    }

    .summ-done-info{
        width: 140px;
        height: 108px;
    }

    .summ-toDO-info{
        width: 140px;
        height: 108px;
    }

    .summ-stats-under-container{
        width: 90px;
        height: 108px;
        padding: 15px;
    }

    .summ-stats-under-tasks{
        font-size: 14px;
        line-height: 20px;
    }

    .summ-stats-urgent{
        gap: 20px;
    }
}

@media (min-width: 320px) and (max-width: 399px){
    .summ-info-urgent{
        width: 120px;
    }

    .summ-done-info{
        width: 140px;
    }

    .summ-toDO-info{
        width: 140px;
    }

    .summ-stats{
        max-width: 300px;
    }
}