<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href="../assets/icons/logoBlue.svg" />

    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../style/fonts.css" />
    <link rel="stylesheet" href="../assets/templates/css/header.css" />
  </head>

  <body>

    <div class="headerContainer">
      <img src="/assets/icons/logoBlue.svg" />
      <div class="headerUserBadge">G</div>
    </div>


          <!-- <div>
        <div>
          <div>Kanban Project Management Tool</div>
          <a class="headerHelpIcon" href="/html/help.html"><img src="../assets/icons/help.svg"></a>
        </div>
  
        <div class="headerUserBadge">G</div>
      </div> -->

  </body>
</html>
