<head>
  <link rel="stylesheet" href="../style.css" />
  <script src="../js/header.js"></script>
</head>

<body onload="toggleHeader()">

  <div class="headerContainerMobile" id="headerContainerMobile">
    <img src="../assets/icons/logoBlue.svg" />
    <div class="headerUserBadge">G</div>
  </div>

  <div class="headerContainerDesktop" id="headerContainerDesktop" style="display: none;">
    <div class="headerContainerContent">
      <div class="headerText">Kanban Project Management Tool</div>
      <div class="headerRightContainer">
        <a class="headerHelpIcon" href="/html/help.html"><img src="../assets/icons/help.svg"></a>
        <div class="headerUserBadge">SM</div>
      </div>
    </div>
  </div>