<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href="resources/icons/logoFavicon.png" />

    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/style/fonts.css" />
    <link rel="stylesheet" href="/assets/templates/css/menu.css" />
  </head>

  <body>

    <section class="menuContainer">
      
      <a class="menuSingleTab" href="/html/summary.html">
        <img class="menuSingleTabIcon" src="/resources/icons/summaryIconGrey.svg"/>
        <div>Summary</div>
      </a>
      <a class="menuSingleTab" href="/html/board.html">
        <img class="menuSingleTabIcon" src="/resources/icons/boardIconGrey.svg"/>
        <div>Board</div>
      </a>
      <a class="menuSingleTab" href="/html/addtask.html">
        <img class="menuSingleTabIcon" src="/resources/icons/addtaskIconGrey.svg"/>
        <div>Add Task</div>
      </a>
      <a class="menuSingleTab" href="/html/contacts.html">
        <img class="menuSingleTabIcon" src="/resources/icons/contactsIconGrey.svg"/>
        <div>Contacts</div>
      </a>

    </section>

    <!-- <section class="sidebarLeft">

        <div class="sidebarLegalContainer">
          <a class="sidebarSingleLink" href="/html/privacy.html">Privacy Policy</a>
          <a class="sidebarSingleLink" href="/html/imprint.html">Legal notice</a>
        </div>

      </section> -->
  </body>
</html>
