<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href="../assets/icons/logoBlue.svg" />

    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../style/fonts.css" />
    <link rel="stylesheet" href="../assets/templates/css/menu.css" />
  </head>

  <body>

    <div class="menuContainer">

      <div class="menuLogoContainer">
        <img class="menuLogo" src="../assets/icons/logowhite.svg" />
      </div>


      <div class="menuBtnContainer">
        <a class="menuBtn" href="../html/summary.html">
          <img class="menuBtnIcon" src="../assets/icons/summaryIconGrey.svg"/>
          <div>Summary</div>
        </a>
        <a class="menuBtn" href="../html/board.html">
          <img class="menuBtnIcon" src="../assets/icons/boardIconGrey.svg"/>
          <div>Board</div>
        </a>
        <a class="menuBtn" href="../html/addtask.html">
          <img class="menuBtnIcon" src="../assets/icons/addtaskIconGrey.svg"/>
          <div>Add Task</div>
        </a>
        <a class="menuBtn" href="../html/contacts.html">
          <img class="menuBtnIcon" src="../assets/icons/contactsIconGrey.svg"/>
          <div>Contacts</div>
        </a>
      </div>


      <div class="menuLegalContainer">
        <a class="menuLegalLinks" href="../html/privacy.html">Privacy Policy</a>
        <a class="menuLegalLinks" href="../html/imprint.html">Legal notice</a>
      </div>

    </div>

  </body>
</html>
