<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="resources/icons/logoFavicon.png"/>

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style/fonts.css">
    <link rel="stylesheet" href="/style/header.css">
</head>

<body>

    <section class="headerContainer">
        <!-- <div class="headerText">Kanban Project Management Tool</div> -->
        <div class="sidebarLogoContainer">
            <img class="sidebarLogo" src="/resources/icons/logoBlue.svg" />
          </div>

        <div class="headerRightContainer">
          <!-- <a class="headerHelpIcon" href="/html/help.html">
            <img src="/resources/icons/help.svg">
          </a> -->
          <div class="headerUserBadge">G</div>
        </div>
      </section>
    
</body>
</html>