.headerContainer {
  height: 80px;
  background-color: white;
  padding: 20px 16px 20px 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.headerUserBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 2px solid #2a3647;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  color: #29abe2;
  cursor: pointer;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .headerContainer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .headerContainer {
    padding-left: 48px;
    padding-right: 48px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}