.menuContainer {
  grid-area: menu;
  height: 100%;
  background-color: #2a3647;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.menuBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0px 8px 0px 8px;
}

.menuSingleTab {
  height: 76px; 
  width: 80px;
}
 
.menuBtn {
  height: 76px;
  width: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cdcdcd;
  background-color: #2a3647;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-decoration: none;
  border-width: 0;
  padding: 16px 0px 16px 0px;
}

.menuBtnIcon {
  height: 22px;
  width: 22px;
}

.menuLogoContainer {
  display: flex;
  justify-content: center;
}

.menuLogo {
  width: 100px;
  height: 122px;
  cursor: pointer;
}

.menuLegalContainer {
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  padding: 244px 0px 0px 0px;
}

.menuLegalLinks {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #A8A8A8;
  line-height: 19.2px;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 375px) {
  .menuBtnContainer {
    padding: 0px 2px 0px 2px;
    gap: 2px;
  }

  .menuSingleTab {
    height: 76px;
    width: 72px;
    padding: 8px 0px 8px 0px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .menuBtnContainer {
    gap: 32px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .menuBtnContainer {
    gap: 48px;
  }
}

@media (max-width: 991px) {
  .menuLogoContainer,
  .menuLegalContainer {
    display: none;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 992px) {
  .menuContainer {
    padding: 64px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menuBtnContainer {
    flex-direction: column;
    padding: 8px 0px 8px 56px;
    gap: 20px;
  }

  .menuBtn {
    height: 46px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
  }

  .menuBtnIcon {
    height: 30px;
    width: 30px;
  }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}

