.menuContainerMobile {
  grid-area: menu;
  height: 80px;
  background-color: #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 8px 0px 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 16px;
}

.menuSingleTab {
  height: 76px;
  width: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cdcdcd;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-decoration: none;
  border-radius: 8px;
  padding: 16px 0px 16px 0px;
}

.menuSingleTabIcon {
  height: 22px;
  width: 22px;
}






.menuContainerDesktop {
  grid-area: menu;
  flex-direction: column;
  width: 232px;
  height: 1024px;
  background-color: #2a3647;
  padding: 64px 0px 64px 0px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.sidebarLogoContainer {
  display: flex;
  justify-content: center;
}
.sidebarLogo {
  width: 100px;
  height: 122px;
  cursor: pointer;
}
.sidebarMenuContainer {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding: 112px 0px 82px 0px;
}
.sidebarSingleMenuTab {
  width: 100%;
  height: 46px;
  padding-left: 56px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #cdcdcd;
  line-height: 19.2px;
  text-decoration: none;
  cursor: pointer;
}
.sidebarSingleMenuTab:hover {
  background-color: rgb(43, 61, 89);
  color: white;
}
.sidebarLegalContainer {
  width: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  padding: 244px 0px 0px 0px;
}
.sidebarSingleLink {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #A8A8A8;
  line-height: 19.2px;
  text-decoration: none;
  cursor: pointer;
}







@media (max-width: 375px) {
  .menuContainer {
    padding: 0px 2px 0px 2px;
    gap: 2px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .menuContainer {
    gap: 32px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .menuContainer {
    gap: 48px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}